.subHeading {
  line-height: 2;
  font-size: 0.9em;
  font-weight: bold;
}

.companyIntroduce {
  margin-top: var(--div-margin-top);
  textarea {
    margin-left: 7em;
    border: 1px solid black;
    border-radius: 0px;
    width: 67.6vw;
    height: 8vh;
    resize: none;
  }
}

.companyUrl {
  display: flex;
  margin-top: var(--div-margin-top);
  input {
    margin-left: 2.7em;
    border: 1px solid black;
    border-radius: 0px;
    width: 20vw;
  }
}

.mainWorkingFild {
  margin-top: var(--div-margin-top);
  input {
    margin: 0.5em 0 0 7em;
    border: 1px solid black;
    border-radius: 0px;
    width: 67.6vw;
    height: 4vh;
  }
}

.detailIntroduce {
  margin-top: var(--div-margin-top);
  textarea {
    margin: 0.5em 0 0 7em;
    border: 1px solid black;
    border-radius: 0px;
    width: 67.6vw;
    height: 8vh;
    resize: none;
  }
}

.membership {
  margin-top: var(--div-margin-top);
  textarea {
    margin: 0.5em 0 0 7em;
    border: 1px solid black;
    border-radius: 0px;
    width: 67.6vw;
    height: 8vh;
    resize: none;
  }
}

.ceoInfo {
  margin-top: var(--div-margin-top);
  input {
    margin-left: 7em;
    border: 1px solid black;
    border-radius: 0px;
    width: 67.6vw;
    height: 4vh;
    resize: none;
  }
}

@media screen and (max-width: 981px) {
  .companyIntroduce {
    margin-top: var(--div-margin-top);
    textarea {
      margin-left: 7em;
      border: 1px solid black;
      border-radius: 0px;
      width: 80vw;
      height: 8vh;
      resize: none;
    }
  }

  .companyUrl {
    display: flex;
    margin-top: var(--div-margin-top);
    input {
      margin-left: 3em;
      border: 1px solid black;
      border-radius: 0px;
      width: 35vw;
    }
  }

  .mainWorkingFild {
    margin-top: var(--div-margin-top);
    input {
      margin: 0.5em 0 0 7em;
      border: 1px solid black;
      border-radius: 0px;
      width: 80vw;
      height: 4vh;
    }
  }

  .detailIntroduce {
    margin-top: var(--div-margin-top);
    textarea {
      margin: 0.5em 0 0 7em;
      border: 1px solid black;
      border-radius: 0px;
      width: 80vw;
      height: 8vh;
      resize: none;
    }
  }

  .membership {
    margin-top: var(--div-margin-top);
    textarea {
      margin: 0.5em 0 0 7em;
      border: 1px solid black;
      border-radius: 0px;
      width: 80vw;
      height: 8vh;
      resize: none;
    }
  }

  .ceoInfo {
    margin-top: var(--div-margin-top);
    input {
      margin-left: 7em;
      border: 1px solid black;
      border-radius: 0px;
      width: 80vw;
      height: 4vh;
      resize: none;
    }
  }
}

@media screen and (max-width: 767px) {
  .companyIntroduce {
    margin-top: var(--div-margin-top);
    textarea {
      margin-left: 7em;
      border: 1px solid black;
      border-radius: 0px;
      width: 76vw;
      height: 8vh;
      resize: none;
    }
  }

  .companyUrl {
    display: flex;
    margin-top: var(--div-margin-top);
    input {
      margin-left: 3.4em;
      border: 1px solid black;
      border-radius: 0px;
      width: 35vw;
    }
  }

  .mainWorkingFild {
    margin-top: var(--div-margin-top);
    input {
      margin: 0.5em 0 0 7em;
      border: 1px solid black;
      border-radius: 0px;
      width: 76vw;
      height: 4vh;
    }
  }

  .detailIntroduce {
    margin-top: var(--div-margin-top);
    textarea {
      margin: 0.5em 0 0 7em;
      border: 1px solid black;
      border-radius: 0px;
      width: 76vw;
      height: 8vh;
      resize: none;
    }
  }

  .membership {
    margin-top: var(--div-margin-top);
    textarea {
      margin: 0.5em 0 0 7em;
      border: 1px solid black;
      border-radius: 0px;
      width: 76vw;
      height: 8vh;
      resize: none;
    }
  }

  .ceoInfo {
    margin-top: var(--div-margin-top);
    input {
      margin-left: 7em;
      border: 1px solid black;
      border-radius: 0px;
      width: 76vw;
      height: 4vh;
      resize: none;
    }
  }
}
