.card-container {
  width: 1280px;
  height: auto;
  background-color: antiquewhite;
}
.card {
  display: flex;
  flex-wrap: nowrap;
  width: 500px;
  height: auto;
  margin-right: 10px;
}
.card-body {
}
img {
  width: 100%;
  height: auto;
}
