.mainContainer {
  display: flex;
  // background-color: aliceblue;
  .container {
    width: 100%;
    .main {
      display: flex;
      width: 100%;
      padding: 3rem;
      .content {
        width: 100%;
      }
    }
  }
}
