.sideBarContainer {
  margin: 0;
  width: 320px;
  // height: 63vh;
  background-color: #5bb684;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .sideBarContainer {
    display: none;
  }
}
