.categoryList {
  .topTitle {
    margin-top: 1vh;
    display: flex;
    justify-content: space-between;
    .titleAll {
      padding-right: 10px;
      font-weight: 700;
      font-size: 1.5rem;
    }
    .introduce {
      cursor: pointer;
      width: 10rem;
      background-color: #ff6d6a;
      border-radius: 100px;
      height: 3rem;
      text-align: center;
      a {
        color: #fff;
        font-size: 1.2em;
        display: block;
      }
    }
    .titleCate {
      padding-left: 10px;
    }
  }
  .buttonWrap {
    margin-top: 5vh;
    .cateTitle {
      margin-top: 5vh;
      padding-left: 10px;
    }
    .cateBtn {
      cursor: pointer;
      margin-left: 2px;
      margin-right: 2px;
      background-color: antiquewhite;
      border-radius: 8px;
      padding: 5px;
      width: 5.7vw;
      height: auto;
    }
  }
  .cateTitle {
    margin-top: 5vh;
    padding-left: 10px;
    margin-bottom: 1.5vh;
  }
  .title {
    color: #ff6d6a;
    font-weight: 500;
    margin-top: 1vh;
    font-size: 1.2em;
    margin-left: 1vw;
  }
}

.cardWrap {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  padding-top: 9vh;
  .cardContainer {
    width: 22%;
    border-radius: 25px;
    .imageContainer {
      display: flex;
      height: 8rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .cardImage {
        width: 100%;
        height: 100%;
        border-radius: 25px 25px 0 0;
        object-fit: cover;
      }
    }
    .contentContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 10px 14px;
      height: 11rem;
      background-color: #f7f7f7;
      border-radius: 0 0 25px 25px;
      .commentWrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 1vh;
        .companyName {
          font-weight: 600;
        }
        .commentCnt {
          color: gray;
        }
      }
      .companyDesc {
        margin-top: 1vh;
        text-align: justify;
      }
    }
  }
}
.pagination {
  margin-top: 3.5em;
  display: flex;
  justify-content: center;
}
