.cardWrap {
  display: flex;
  flex-wrap: wrap;
  grid-row-gap: 4vh;
  grid-column-gap: 3%;
  .cardContainer {
    margin: 0 auto;
    width: 22%;
    .imageContainer {
      .cardImage {
        width: 100%;
        height: 20vh;
      }
    }
    .companyName {
    }
    .companyDesc {
    }
  }
}
