.categoryList {
  .topTitle {
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    .titleCate {
      padding-left: 10px;
    }
    .titleAll {
      padding-right: 10px;
    }
  }
  .buttonWrap {
    margin-top: 5vh;
    .cateBtn {
      margin-left: 3px;
      margin-right: 3px;
      background-color: antiquewhite;
      border-radius: 10px;
      padding: 5px;
      width: 5.7vw;
      height: auto;
    }
  }
  .cateTitle {
    margin-top: 5vh;
    padding-left: 10px;
  }
}

.cardWrap {
  display: flex;
  flex-wrap: wrap;
  grid-row-gap: 4vh;
  grid-column-gap: 3%;
  padding-top: 5vh;
  .cardContainer {
    margin: 0 auto;
    width: 22%;
    border-radius: 25px;
    // border: #5bb684 2px solid;
    .imageContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .cardImage {
        width: 100%;
        height: 100%;
        border-radius: 25px 25px 0 0;
        // padding: 7px;
      }
    }
    .contentContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 14px;
      background-color: #f7f7f7;
      border-radius: 0 0 25px 25px;
      .companyName {
        margin-top: 14px;
      }
      .companyDesc {
        margin-top: 14px;
      }
      .moreBtn {
        border: none;
        font-size: 16px;
        color: #fff;
        padding: 8px 16px;
        background-color: #5bb684;
        border-radius: 6px;
        margin: 14px;
        cursor: pointer;
        transition: all 0.3s ease;
      }
      .moreBtn:hover {
        background: #4b966d;
      }
    }
  }
}
