.cardWrap {
  display: flex;
  flex-wrap: wrap;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  padding-top: 5vh;
  .cardContainer {
    width: 22%;
    border-radius: 25px;
    // border: #5bb684 2px solid;
    .imageContainer {
      display: flex;
      height: 8rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .cardImage {
        width: 100%;
        height: 100%;
        border-radius: 25px 25px 0 0;
        object-fit: cover;
        // padding: 7px;
      }
    }
    .contentContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 14px;
      height: 9rem;
      background-color: #f7f7f7;
      border-radius: 0 0 25px 25px;
      .companyName {
        margin-top: 14px;
      }
      .companyDesc {
        margin-top: 14px;
      }
      .moreBtn {
        border: none;
        font-size: 16px;
        color: #fff;
        padding: 8px 16px;
        background-color: #5bb684;
        border-radius: 6px;
        margin: 14px;
        cursor: pointer;
        transition: all 0.3s ease;
      }
      .moreBtn:hover {
        background: #4b966d;
      }
    }
  }
}
